@model BankingWebApp.Models.DeleteAccount

@{
    ViewData["Title"] = "Ministatement";
}

<h4 style="font-family:'Lucida Calligraphy';">Mini Statement</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Ministatement">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label" style="font-family:'Lucida Calligraphy';"></label>
                <select asp-for="AccountId" class="form-control">
                    @foreach (var num in ViewBag.accounts)
                    {
                        <option value=@num.AccountNumber>@num.AccountNumber</option>
                    }
                </select>
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-outline-dark mx-3" style="font-family:'Lucida Calligraphy';"/>
                <input type="reset" value="Reset" class="btn btn-outline-danger" style="font-family:'Lucida Calligraphy';"/>
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-controller="Home" asp-action="ManagerFeatures" class="btn btn-outline-secondary" style="font-family:'Lucida Calligraphy';">Back</a>
</div>
