
@{
    ViewData["Title"] = "SuccessAdd";
}

<h4>Success Message</h4>
<hr />
<div class="container">
    <div class="row" style="font-family:'Lucida Calligraphy';color:crimson">
        <div class="col-12">
            <h4>@ViewBag.msg</h4>
        </div>
    </div>
    <hr />
</div>

<div>
    <a asp-controller="Home" asp-action="ManagerFeatures" class="btn btn-outline-secondary" style="font-family:'Lucida Calligraphy';">Back</a>
</div>